<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=8d97cbff-6286-4013-8be1-a5cc00693e62.sqlserver.sequelizer.com;Database=db8d97cbff628640138be1a5cc00693e62;User ID=tbsppibplzgulnoo;Password=msPRsqihXjXFxWWdgxzzkjK2HLeUqyk7VSrifAhC2JVAEDnLhkPdfiycPWhNkwYx;"/>
  </connectionStrings>
</configuration>
